# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Generated documentation
/doc/*.pdf

bin/
*.swp
log/

# testsuite
sample/dummy_log

# autotools
/config.h
*.in
*.in~
*.ac~
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
Makefile
Makefile.in
/INSTALL
/configure*
/compile
/depcomp
/install-sh
/missing
stamp-h1
/test-driver
.deps
.dirstamp
/src/schaufel_config.h

