Source: schaufel
Section: admin
Priority: optional
Maintainer: Robert Abraham <robert@adeven.com>
Build-Depends: debhelper (>= 12),
  dpkg-dev,
  libconfig-dev,
  libconfig++-dev,
  libhiredis-dev,
  libjson-c-dev,
  libpq-dev,
  librdkafka-dev
Standards-Version: 0.12.1

Package: schaufel
Architecture: any
Pre-Depends: dh-systemd (>= 12) | debhelper (>= 12),
  dpkg
Depends: libconfig9 (>= 1.5~),
  libhiredis0.14 (>= 0.14~) | libhiredis1.1.0 (>= 1.2~),
  libjson-c4 (>= 0.13~) | libjson-c5 (>= 0.15~),
  libpq5 (>= 12.~),
  librdkafka1 (>= 1.2~)
Description: schaufel aims to be a swiss army knife for moving data.
  It can take data from list-like sources and insert them into list-like sinks.
  In other words, it can take data from a redis list and insert it into kafka or vice versa.
Homepage: https://github.com/adjust/schaufel
