Package: schaufel
Source: schaufel
Version: 0.11
Section: admin
Priority: optional
Architecture: all
Multi-Arch: foreign
Depends: libconfig9 (>=1.5~), libhiredis0.14 (>=0.14~), libjson-c4 (>=0.13~), libpq5 (>=12.~), librdkafka1 (>=1.2~)
Maintainer: Robert Abraham <robert@adeven.com>
Description: schaufel aims to be a swiss army knife for moving data.
  It can take data from list-like sources and insert them into list-like sinks.
  In other words, it can take data from a redis list and insert it into kafka or vice versa.
Homepage: https://github.com/adjust/schaufel
