[Unit]
Description=Schaufel
Documentation=https://github.com/adjust/schaufel
Requires=network.target
After=network.target

[Service]
## systemd.exec
WorkingDirectory=/var/lib/schaufel
User=schaufel
Group=schaufel
SyslogIdentifier=%p_%i

## systemd.service
Type=simple
ExecStart=/usr/bin/schaufel -l /var/log/schaufel/%i.log -C /etc/schaufel/%i.conf
Restart=on-failure
RestartPreventExitStatus=SIGTERM
RestartSec=3s
StartLimitIntervalSec=1min
StartLimitBurst=5
SuccessExitStatus=0
TimeoutStopSec=1800

## systemd.kill
KillSignal=SIGTERM
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
